/*
DEV NOTES:
 - Put variables only.
*/

// Neutrals
$color-black: #000;
$color-white: #FFF;
$colod-gray: #EDEDED;

$color-primary: #272838;
$color-accent: #815355;
$color-highlight: #F2B418;
$color-soft: #AFCBD5;

// Global Home BG Color
$page-bg: #ECF8ED;
$shadow: #BDC3C7;