
.dateCard {
    width: 350px;
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 0;
    background-color: $color-accent;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    color: $color-white;

    .label {
        margin-right: 10px;
    }
}